Repository globaldothealth/list, pull requests merged in 2021-02, with the labels that each got.

#1555 1546 Add newsletter checkbox as separate and non required element on sign up interstitial
  verification/curator-service/api/src/controllers/auth.ts
  verification/curator-service/api/src/model/user.ts
  verification/curator-service/ui/src/components/landing-page/LandingPage.test.tsx
  verification/curator-service/ui/src/components/landing-page/LandingPage.tsx
  verification/curator-service/ui/src/components/landing-page/SignInForm.test.tsx
  verification/curator-service/ui/src/components/landing-page/SignInForm.tsx
Labels: Beta Feedback, Curator Portal, P1 Launch blocker

#1554 1540 - changed menu dropdown text
  verification/curator-service/ui/src/components/App.tsx
Labels: Bug Bash, Curator Portal

#1557 1508 data fix gh logo links
  verification/curator-service/ui/cypress/integration/components/AppTest.spec.ts
  verification/curator-service/ui/src/components/App.test.tsx
  verification/curator-service/ui/src/components/App.tsx
  verification/curator-service/ui/src/components/GHListLogo.tsx
  verification/curator-service/ui/src/components/assets/GHListLogo.svg
Labels: Bug Bash, Curator Portal

#1551 1540 on hover the column headers display the filter keyword that enables filtering by that column
  verification/curator-service/ui/src/components/App.tsx
  verification/curator-service/ui/src/components/LinelistTable.test.tsx
  verification/curator-service/ui/src/components/LinelistTable.tsx
  verification/curator-service/ui/src/components/SearchBar.tsx
  verification/curator-service/ui/src/components/VerificationStatusHeader.tsx
  verification/curator-service/ui/src/components/common-form-fields/AppTooltip.tsx
  verification/curator-service/ui/src/components/common-form-fields/FieldTitle.tsx
Labels: Beta Feedback, Curator Portal

#1572 1540 filter breadcrumbs
  verification/curator-service/ui/src/components/App.tsx
  verification/curator-service/ui/src/components/LinelistTable.test.tsx
  verification/curator-service/ui/src/components/LinelistTable.tsx
Labels: Beta Feedback, Curator Portal
